:root {
    --primary-color: #570713;
    --warning-color: #064550;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #f0dfdf;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-control:focus {
    border-color: var(--primary-color);
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
    margin-left: 200px;
}

.btn-primary:hover {
    background-color: #c91818;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.btn-warning {
    background-color: var(--warning-color);
    color: white;
    margin-left: 200px;
}

.btn-warning:hover {
    background-color: #77b987;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.w-180 {
    width: 180px;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

.row.border {
    border: 2px solid var(--primary-color);
}

h4 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.fs-5 {
    font-size: 1.25rem;
}

.text-primary {
    color: var(--primary-color);
}

.text-center {
    text-align: center;
}

.lead {
    font-weight: bold;
    margin-right: 10px;
    white-space: pre;
}

p {
    margin: 5px 0;
    word-wrap: break-word;
}

* {
    visibility: visible !important;
}
